<div class="bg-zinc-700 font-sora text-white relative w-full h-full">
  <%= render 'navbar' %>
  <%= render 'introduction' %>
  <%= render 'aboutme' %>
  <%= render 'projects' %>
  <%= render 'contact' %>
</div>
