
<!-- BANNER -->
<div class="banner mb-5">
  <div id="nav" class="sticky transparant">
    <a class="links underline" href="#">HOME</a>
    <a class="links underline" href="#PROJECTS">PROJECTS</a>
    <a class="links underline" href="#ABOUTME">ABOUT ME</a>
    <a class="links underline" href="#CONTACT">CONTACT</a>
  </div>

  <div class="container pt-5" style="max-width: 940px; text-align: left;">
    <div class="banner-content">
      <div class="left w-col-8">
        <h1 class="heading home" id="str">
          <%# Web developer with a strong passion for
          <span class="text-span-7">design</span>  %>
        </h1>
        <p class="description left">Currently enjoying the lovely weather of Amsterdam.</p>
        <a href="mailto:horia.veselin@gmail.com?subject=e.g.%20Fan%20Letter%2C%20Work%20Inquiry" class="button-primary button">Say Hello!</a>
      </div>
      <div class="w-col-4">
        <img src="/assets/brenticon-52840d544e39dcbc680db2e14eb49aae2311d6805be249f59c04c0eb3b7c22be.png" alt="">
      </div>
    </div>
  </div>

</div>

<!-- DESCRIPTION -->
<div class="container py-5" style="max-width: 940px;">
  <div class="row">
    <div class="description col-8" style="margin-top: 50px;">
      <h2 class="title-text-4 home">Hi there, I'm Brent 👋 </h2>
      <p class="about-me-description">
        For more than 5 years now, design has been the central piece of my world. On this fast and mind-blowing journey, I have moved over the years from being a visual designer to a full-time UX/UI thinker and designer.
        <br>
        <br>
        At the moment, this journey has brought me to US Mobile where I am a full-time Senior Product Designer. In this position, as with freelance, I am working remotely and I have been for approximately two years.
        <br>
        <br>
        With the constant goal of pushing design boundaries and maintaining a high standard for usability & user experience, I have consistently worked with various startups and clients from all around the world and helped them create amazing and engaging digital products.
      </p>
      <div class="socials" style="text-align: left;">
        <a href="https://www.linkedin.com/in/brentvanholder/"><i class="fab fa-linkedin" style="font-size: 40px; color: #564eff;"></i></a>
        <a href="https://github.com/brentvanholder"><i class="fab fa-github-square" style="font-size: 40px; color: #564eff;"></i></a>
      </div>
    </div>
    <div class="d-flex col-4">
      <%= image_tag "devicon.svg", class:"w-100" %>
    </div>
  </div>
</div>

<!-- EXPERIENCE -->
<div class="container py-5" style="max-width: 940px; text-align: left;">
  <h3 class="text-exp">Experience</h3>
  <div class="line"></div>

  <div class="w-layout-grid resume-grid">
    <div class="resume-text">2020-Present</div>
    <div class="resume-body">
      <strong class="bold-text-4">Le Wagon</strong>
        Amsterdam
        <br>
        <span class="text-span">9 week intensive coding bootcamp</span>
    </div>

    <div class="resume-text">2020</div>
    <div class="resume-body">
      <strong class="bold-text-4">Zetenta Digital</strong>
        Buenos Aires
        <br>
        <span class="text-span">Intern digital marketing agency</span>
    </div>
    
    <div class="resume-text">2019</div>
    <div class="resume-body">
      <strong class="bold-text-4">EAN Universidad</strong>
        Bogota
        <br>
        <span class="text-span">Exchange student</span>
    </div>
  </div>

  <div class="w-layout-grid resume-grid pt-5">
    <div class="resume-text">2020-Present</div>
    <div class="resume-body">
      <strong class="bold-text-4">US Mobile</strong>
        New York
        <br>
        <span class="text-span ">Senior Product Designer</span>
    </div>

    <div class="resume-text">2020-Present</div>
    <div class="resume-body">
      <strong class="bold-text-4">US Mobile</strong>
        New York
        <br>
        <span class="text-span">Senior Product Designer</span>
    </div>
    
    <div class="resume-text">2020-Present</div>
    <div class="resume-body">
      <strong class="bold-text-4">US Mobile</strong>
        New York
        <br>
        <span class="text-span ">Senior Product Designer</span>
    </div>
  </div>
</div>

<!-- SKILLS & TOOLS -->
<div class="container py-5 text-left" style="max-width: 940px;">
  <h3 class="text-exp">Skills & Tools</h3>
  <div class="line"></div>
  <div class="d-flex skills" >
    <%= image_tag "ruby"%>
    <%= image_tag "rails"%>
    <%= image_tag "javascript"%>
    <%= image_tag "postgresql"%>
    <%= image_tag "heroku"%>
    <%= image_tag "trello"%>
    <%= image_tag "bootstrap"%>
    <%= image_tag "slack"%>
  </div>
</div>

<!-- PROJECTS -->
<div class="container py-5" style="max-width: 940px; text-align: left;">
  <h2 class="headline-projects"> Projects ✍️</h2>
  <p>Probably the section you are most interested in. Have fun exploring some of<br> my recent projects and maybe come back afterwards?</p>
  <div class="row mt-5" style="justify-content: space-around;">
      <%= link_to projects_pokemon_path, class:"no-underline" do %>
      <div class="card mx-auto mt-3">
        <div class="card__thumb">
          <%= image_tag 'Home.png', style: "object-fit: cover" %>
        </div>
        <date class="card__date">
          <span class="card__date__day">Pokémon</span>
        </date>
        <div class="card__body">
          <h2 class="card__title">Pokémon based on Airbnb</h2>
          <div class="card__subtitle">Project week Le Wagon</div>
          <p class="card__description">During bootcamp Le Wagon, we had to fulfill a project based on Air Bnb. Our team decided to go for Pokémon.</p>
        </div>
      </div>
      <% end %>
     <%= link_to projects_itsadate_path, class:"no-underline" do %>
     <div class="card mx-auto mt-3">
      <div class="card__thumb">
        <%= image_tag 'itsadate.jpeg', style: "object-fit: cover" %>
      </div>
      <date class="card__date">
        <span class="card__date__day">It's a date</span>
      </date>
      <div class="card__body">
        <h2 class="card__title">It's a date</h2>
        <div class="card__subtitle">Final project Le Wagon</div>
        <p class="card__description">During bootcamp Le Wagon, we had to fulfill a project based on Air Bnb. Our team decided to go for Pokémon.</p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- LET'S CONNECT -->
<div class="container py-5" style="max-width: 940px; text-align: left;">
  <div class="row">
    <div class="ctatext-2">
      <h2 class="contactheader home"> Let's connect 🤙</h2>
      <p class="contact-description left">For any work collaborations, fan letters or even a simple chat, take the first step and reach out via e-mail or one of my social media profiles. </p>
    </div>
  </div>

  <div class="row" style="justify-content: space-between;">
    <a href="mailto:brentvanholder@gmail.com?subject=e.g.%20Fan%20Letter%2C%20Work%20Inquiry" class="button-primary">
      <i class="far fa-envelope fa-lg mr-3"></i>Say Hello!
    </a>
  </div>
</div>

<!-- FOOTER -->
<div class="footer mt-5">
  <div class="footer-copyright">
    This page is made with <i class="fas fa-heart"></i> by Brent Van Holder
  </div>
</div>




  <script>// When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  // Get the navbar
  var navbar = document.getElementById("nav");

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset > 0) {
      navbar.classList.remove("transparant")
    } else {
      navbar.classList.add("transparant");
    }
  }
</script>


<script>
  var string = "Hello I'm Brent, full stack developer and I love developing websites.";
  var str = string.split("");
  var el = document.getElementById('str');
  (function animate() {
    str.length > 0 ? el.innerHTML += str.shift() : clearTimeout(running);
    var running = setTimeout(animate, 90);
  })();
</script>

 