<div 
  data-controller="hello" 
  data-action="scroll@window->hello#layout" 
  class="bg-white font-sora text-white"
  >
  <%= render 'navbar' %>
  <%= render 'introduction' %>
  <%= render 'aboutme' %>
  <%= render 'projects' %>
  <%= render 'contact' %>
  <%= render 'footer' %>
</div>
